* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #e2eaff;
    color: #101632dd;
    
}

div, ul, nav, header, footer, a, li, label, body {
    margin: 0;
    padding: 0;
}

/* ---------------------------------------- HEADER SECTION*/

.header {
    background-color: white;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    container-type: inline-size;
    container-name: header;
}

.header__nav-list-querie {
    display: none;
}

.header__nav-title-container {
    display: none;
}

.header__button-container {
    background-color: #48e;
    margin: 10px 20px;
    border-radius: 15px;
}

.header__nav-button {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.header__open-nav-button {
    color: #48e;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
}

.header__checkbox {
    display: none;
}

.header__nav {
    display: none;
    background-color: white;
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    top: 0;
    z-index: -1;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    height: 40dvh;
    margin: auto;
    justify-content: space-evenly;
    text-align: center;
    font-weight: 500;
}

.header__checkbox:checked ~ .header__nav {
    display: flex;
}

.header__nav-item {
    list-style: none;
}

.header__nav-link {
    color: #48e;
    text-decoration: none;
    padding: 10px;
    background-color: #d9d9d934;
    border-radius: 15px;
}

.header__nav-link:is(:active,:hover) {
    text-decoration: underline;
}

/* ---------------------------------------- HEADER QUERIES */

@media (min-width: 600px) {
    .header {
        background-color: #48e;
    }

    .header__nav {
        background-color: inherit;
        display: flex;
        position: static;
        height: auto;
        width: 100%;
        justify-content: space-between;
        z-index: 0;
    }

    .header__button-container {
        display: none;
    }

    .header__nav-list {
        display: none;
    }

    .header__nav-list-querie {
        display: flex;
        list-style-type: none;
        width: 100%;
        justify-content: end;
        margin: 10px;
    }

    .header__nav-list-querie-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        margin: 0 15px;
        background-color: white;
        border-radius: 50px;
    }

    .header__open-nav-button {
        display: none;
    }

    .header__list-querie-logo {
        width: 27px;
        height: auto;
    }

    .header__nav-link-querie {
        display: inline-block;
        padding: 15px;
    }

    .header__nav-title {
        white-space: nowrap;
        font-size: 24px;
        margin: 0;
        color: white;
    }

    .header__nav-title-container {
        display: flex;
        align-items: center;
        padding-left: 20px;
    }
}
/* ---------------------------------------- HEADER ENDS */

/* -----------------------------------------*/

.header__subtitle-container {
}

.header__subtitle {
    color: #48e;
    text-align: center;
}

.galery__description {
    margin: 0;
    font-style: italic;
    color: gray;
}

.galery__container {
    margin-bottom: 0px;
    display: flex;
    width: 100%;
    height: 400px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    z-index: -2;
}

.galery__container::-webkit-scrollbar {
    display: none;
}
.galery__container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.galery__item {
    flex: 0 0 100%;
    width: 100%;
    scroll-snap-align: start;
}

.galery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.lightbox__content {
    max-width: 90%;
    max-height: 80%;
    border-radius: 4px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #48e;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* CSS */
.btn-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #48e;
    color: white;
    padding: 12px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 1000;
}